*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

.container{
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-top: 112px;
    height: 456px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box img{
    width: 300px;
    height: 456px; 
}

.details{
    background-color: #fff;
    height: 456px;
    width: 300px;
    padding: 40px 0px 20px 30px;

}

.details h4{
    color: 	#6c7289;
    letter-spacing: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
}

.details h1{
    font-family: "Fraunces", serif;
    padding-top: 24px;

}

.details p{
   color: #6c7289; 
   padding-top: 24px;
   line-height: 1.3;
}

.price{
    display: flex;
    align-items: center;

    
}

.price h1{
    color: #3c8067;
    margin-right: 16px;
    
   
}

.price h6{
    text-decoration: line-through;
    color: #6c7289;
    margin-top: 25px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    
}


#btn{
    color: #fff;
    margin-top: 20px;
    padding-inline: 63px;
    height: 50px;
    background-color: #3c8067;
    border-radius: 10px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;

}

#btn:hover{
    background-color: #6c7289;
}

.cart-img{
    margin-right: 8px;
}

@media (max-width: 600px) {

     .container {
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
      }
    
      .box {
        height: auto;
      }
      
    } 

